body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #f4f4f4;
  font-style: normal;
  font-size: 25px;

  margin: 0;
  padding: 0;
}

/* Стилі для параграфів */
p {
  font-size: 18px;
  color: #282828;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 20px;
  letter-spacing: 0.5px;
}

p strong {
  font-weight: bold;
  color: #333;
}

p em {
  font-style: italic;
  color: #888;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 20px 40px;
  font-size: 25px;
}
.hidden {
  display: none;
  /* visibility: hidden; */
}
.left-title {
  text-align: left;
}

span {
  font-weight: bold;
}

.list {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}
.link {
  list-style: none;
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

section {
  text-align: center;
}

.wrap-geipel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.wrap-geipel img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.list-geipel {
  padding-left: 20px;
  max-width: 500px;
  text-align: left;
}

.link-text {
  padding-top: 40px;
}

.perforation {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
/* Контейнер для всього вмісту */
.container {
  width: 80%; /* Обмежуємо ширину контейнера до 80% від ширини екрану */
  max-width: 1200px; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центруємо контейнер по горизонталі */
  padding: 20px; /* Відступи всередині контейнера */
  box-sizing: border-box; /* Враховуємо відступи в загальну ширину */
  text-align: center; /* Центруємо текст всередині контейнера */
}

/* Заголовок */
.container h2 {
  margin-bottom: 20px;
}

.benefits {
  list-style-position: outside;
  padding-left: 20px;
  text-align: left;
}
